<div class="about-us index-section index-section--flush">
  <div class="page-width">
    <div class="about-us__text-container">
      <h2 class="text-center">{{ section.settings.text }}</h2>
      <div class="text-center">
        <a href="/pages/about" class="link--secondary">About Us</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About Us",
    "class": "index-section index-section--dark" ,
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "About Us"
      }
    ],
    "presets": [
      {
        "name": "About Us",
        "category": "Text"
      }
    ]
  }
{% endschema %}
