<div class="section-container">
  <div class="page-width">
    <div class="page-subheader">Artists</div>
    <h1 class="page-header">Find collections and stories from our featured artists.</h1>

    <div class="space--mt--large">
      {% for block in section.blocks limit: section.blocks.size %}
        {%- assign collection = collections[block.settings.collection] -%}
        <h3>
          <a class="collection-list__link--with-image"
             href="{{ collection.url }}">{{ collection.title }}
          </a>
        </h3>

        {%- assign collection_image = collection.image -%}
        {%- assign collection_first_product = collection.products.first.featured_image -%}


        <div class="collection-list__image-preview"
             style="background-image: url('{{ collection_first_product | img_url: '352x410' }}')">
        </div>

        <div class="collection-list__image-preview--featured"
             style="background-image: url('{{ collection_image | img_url: '900x' }}')">
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection list",
    "class": "index-section",
    "max_blocks": 21,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Collections per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}
